/****** Object:  Table [dbo].[TB_Create_Dealer_Order]    Script Date: 20/03/2025 17:42:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Create_Dealer_Order](
	[CreateOrderNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[IndentNumber] [bigint] NULL,
	[DateOfPurchase] [datetime] NULL,
	[LineItemNumber] [bigint] NULL,
	[RepManCode] [nvarchar](50) NULL,
	[OrderQuantity] [bigint] NULL,
	[OrderQuantity_UOM] [nvarchar](5) NULL,
	[Sale_Price] [decimal](18, 3) NULL,
	[Total_Price] [decimal](18, 3) NULL,
	[ShippingAddress] [nvarchar](150) NULL,
	[BillingAddress] [nvarchar](150) NULL,
	[City] [nvarchar](50) NULL,
	[Dealer_State] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[ContactPersonName] [nvarchar](150) NULL,
	[ContactPersonNumber] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreateOrderDate] [datetime] NULL,
	[CompanyCode] [bigint] NULL,
	[CartId] [bigint] NULL,
	[Email] [nvarchar](120) NULL,
	[UserId] [bigint] NULL,
	[OrderType] [nvarchar](50) NULL,
	[SalesOrganisation] [nvarchar](50) NULL,
	[DistChannel] [nvarchar](50) NULL,
	[Division] [nvarchar](50) NULL,
	[TMApproval] [bit] NULL,
	[TMApproval_Date] [datetime] NULL,
	[RMApproval] [bit] NULL,
	[RMApproval_Date] [datetime] NULL,
	[ShippedFromPlant] [nvarchar](50) NULL,
	[SONumber] [nvarchar](50) NULL,
	[SO_Date] [datetime] NULL,
	[CartItemId] [bigint] NULL,
	[CustomerCode] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](120) NULL,
	[Total_Items] [bigint] NULL,
	[SrNo] [bigint] NULL,
	[Role_Details] [nvarchar](max) NULL,
	[IsActive_User] [bit] NULL,
	[UserName] [nvarchar](max) NULL,
	[Available_Stock] [float] NULL,
	[TMName] [nvarchar](150) NULL,
	[RMName] [nvarchar](150) NULL,
	[UserCode] [nvarchar](50) NULL,
	[OrderRejectStatus] [bit] NULL,
	[OrderRejectDate] [datetime] NULL,
	[OrderRejectName] [nvarchar](150) NULL,
	[OrderRejectRole] [nvarchar](150) NULL,
	[RMCode] [nvarchar](50) NULL,
	[ZSMCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TB_IndentItemDetails_1_1] PRIMARY KEY CLUSTERED 
(
	[CreateOrderNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_Create_Dealer_Order] ON 

SET IDENTITY_INSERT [dbo].[TB_Create_Dealer_Order] OFF
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_DateOfPurchase]  DEFAULT (getdate()) FOR [DateOfPurchase]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_CreateOrderDate]  DEFAULT (getdate()) FOR [CreateOrderDate]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_OrderType]  DEFAULT (N'Pending') FOR [OrderType]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_TMApproval]  DEFAULT ((0)) FOR [TMApproval]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_TMApproval_Date]  DEFAULT (getdate()) FOR [TMApproval_Date]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_RMApproval]  DEFAULT ((0)) FOR [RMApproval]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_RMApproval_Date]  DEFAULT (getdate()) FOR [RMApproval_Date]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_SO_Date]  DEFAULT (getdate()) FOR [SO_Date]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_OrderRejectStatus]  DEFAULT ((0)) FOR [OrderRejectStatus]
GO
ALTER TABLE [dbo].[TB_Create_Dealer_Order] ADD  CONSTRAINT [DF_TB_Create_Dealer_Order_OrderRejectDate]  DEFAULT (getdate()) FOR [OrderRejectDate]
GO
